extends ./partials/layout.jade

block title
  title 闪电购丨招聘技术团队

block content
  //- .message
  .arrow
  .wrapper
    .page.page1.current
      .imgs
        img.img1(src='img/text1_1.png')
        img.img2(src='img/text1_2.png')
        img.img3(src='img/text1_3.png')
        img.img4(src='img/text1_4.png')
        img.img5(src='img/text1_5.png')

    .page.page2.down
      .imgs
        img.img1(src='img/text2_1.png')
        img.img2(src='img/text2_2.png')
        img.img3(src='img/text2_3.png')
        img.img4(src='img/text2_4.png')
        img.img5(src='img/text2_5.png')
        img.img6(src='img/text2_6.png')

    .page.page3.down
      .imgs
        img.img1(src='img/text3_1.png')
        img.img(src='img/pic2.png')
        img.img2(src='img/text3_2.png')
        img.img3(src='img/text3_3.png')
        img.img4(src='img/text3_4.png')
        img.img5(src='img/text3_5.png')
    //- 下面是职位页面
    .page.page4.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic3.png')
        a.toJobDesc(href='#'): img.img3(src='img/text4_2.png')

    .page.page4_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text41_1.png')
        .imgwrap
          img.img2(src='img/text41_2.png')

    .page.page5.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic4.png')
        a.toJobDesc(href='#'): img.img3(src='img/text5_1.png')

    .page.page5_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text51_1.png')
        .imgwrap
          img.img2(src='img/text51_2.png')
    
    .page.page6.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic5.png')
        a.toJobDesc(href='#'): img.img3(src='img/text6_1.png')

    .page.page6_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text61_1.png')
        .imgwrap
          img.img2(src='img/text61_2.png')

    .page.page7.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic6.png')
        a.toJobDesc(href='#'): img.img3(src='img/text7_1.png')
    
    .page.page7_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text71_1.png')
        .imgwrap
          img.img2(src='img/text71_2.png')

    .page.page8.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic7.png')
        a.toJobDesc(href='#'): img.img3(src='img/text8_1.png')

    .page.page8_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text81_1.png')
        .imgwrap
          img.img2(src='img/text81_2.png')

    .page.page9.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic8.png')
        a.toJobDesc(href='#'): img.img3(src='img/text9_1.png')

    .page.page9_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text91_1.png')
        .imgwrap
          img.img2(src='img/text91_2.png')

    .page.page10.hassubpage.down
      .imgs
        img.img1(src='img/text4_1.png')
        img.img2(src='img/pic9.png')
        a.toJobDesc(href='#'): img.img3(src='img/text10_1.png')

    .page.page10_2.jobDesc.right
      .imgs
        span.backbtn
        img.img1(src='img/text101_1.png')
        .imgwrap
          img.img2(src='img/text101_2.png')

    //- 上面是职位页面
    .page.page11.down
      .imgs
        img.img1(src='img/text11_1.png')
        img.img2(src='img/text11_2.png')







  script(src='/bower_components/hammer.js/hammer.js')