doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    
    block title
        
    meta(name='Author' content='gooofly')
    meta(name='Keywords' content='')
    meta(name='description' content='')
    meta(name='Viewport' content='width=device-width, initial-scale=1')

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    link(rel='stylesheet', href='/bower_components/normolize-css/normalize.css')
    link(rel='stylesheet', href='./css/main.css')
    script(src='/bower_components/modernizr/modernizr.js')
  body

    block content

    
    script#__bs_script__ document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.0.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
