/* 
* 
* @authors gooofly (wangfei.f2e@gmail.com)
* @date    2015-01-22 16:11:14
* @version $Id$
*
* title
* --------------------------------------------------
*/
html,
body,
.wrapper,
.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #000;
}
.arrow {
  position: absolute;
  bottom: 6px;
  left: 50%;
  z-index: 1000;
  width: 34px;
  height: 15px;
  margin-left: -17px;
  background: url(../img/arrow_w.png) center center no-repeat;
  background-size: 100% 100%;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  opacity: .4;
  -webkit-transition: -webkit-transform 200ms ease-in;
          transition:         transform 200ms ease-in;
}
.page .imgs {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.page .backbtn {
  position: absolute;
  top: 8%;
  right: 3%;
  z-index: 1000;
  width: 57px;
  height: 35px;
  background: url('../img/back.png');
  background-size: 100% 100%;
}
.page img {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.wrapper {
  margin: 0 auto;
}
.wrapper .current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.wrapper .up {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
.wrapper .right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.wrapper .down {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.wrapper .left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.wrapper .page1.current {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.wrapper .page1.current .img1 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page1.current .img2 {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.wrapper .page1.current .img3 {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
.wrapper .page1.current .img4 {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}
.wrapper .page1.current .img5 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page2.current .img1 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.wrapper .page2.current .img2 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page2.current .img3 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page2.current .img4 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page2.current .img5 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page2.current .img6 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
}
.wrapper .page3.current .img1 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.wrapper .page3.current .img {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.wrapper .page3.current .img2 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
.wrapper .page3.current .img3 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}
.wrapper .page3.current .img4 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}
.wrapper .page3.current .img5 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 4300ms;
          animation-delay: 4300ms;
}
.wrapper .page4.current .img1,
.wrapper .page5.current .img1,
.wrapper .page6.current .img1,
.wrapper .page7.current .img1,
.wrapper .page8.current .img1,
.wrapper .page9.current .img1,
.wrapper .page10.current .img1 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.wrapper .page4.current .img2,
.wrapper .page5.current .img2,
.wrapper .page6.current .img2,
.wrapper .page7.current .img2,
.wrapper .page8.current .img2,
.wrapper .page9.current .img2,
.wrapper .page10.current .img2 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.wrapper .page4.current .img3,
.wrapper .page5.current .img3,
.wrapper .page6.current .img3,
.wrapper .page7.current .img3,
.wrapper .page8.current .img3,
.wrapper .page9.current .img3,
.wrapper .page10.current .img3 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.wrapper .page11.current .img1 {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.wrapper .page11.current .img2 {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
/*k
 * 用来向下兼容不支持css transform 3d的设备
 */
.page1 {
  background: #000 url(../img/pic1.png) right center no-repeat;
  background-size: 100% 100%;
}
.page1 .imgs {
  width: 75.78125%;
  margin-left: 0;
}
.page1 .img1 {
  top: 16%;
}
.page1 .img2 {
  top: 25%;
}
.page1 .img3 {
  top: 33%;
}
.page1 .img4 {
  top: 51%;
}
.page1 .img5 {
  top: 63%;
}
.page2 .imgs {
  width: 75.78125%;
}
.page2 .img1 {
  top: 10%;
}
.page2 .img2 {
  top: 15%;
}
.page2 .img3 {
  top: 31%;
}
.page2 .img4 {
  top: 48%;
}
.page2 .img5 {
  top: 65%;
}
.page2 .img6 {
  top: 80%;
}
.page3 .img1 {
  top: 15%;
  left: 50%;
  width: 25%;
  margin-left: -12.5%;
}
.page3 .img {
  top: 4%;
}
.page3 .img2 {
  top: 57%;
}
.page3 .img3 {
  top: 64%;
}
.page3 .img4 {
  top: 70%;
}
.page3 .img5 {
  top: 77%;
}
.hassubpage .img1 {
  top: 7%;
}
.hassubpage .img2 {
  top: 14%;
}
.hassubpage .img3 {
  top: 70%;
}
.page11 .img1 {
  top: 7%;
}
.page11 .img2 {
  top: 73%;
}
.jobDesc .img1 {
  top: 2%;
}
.jobDesc .img2 {
  -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
}
.jobDesc .imgwrap {
  position: absolute;
  top: 18%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
.message {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 50%;
  height: 200px;
  overflow-y: auto;
  font-size: 12px;
  color: #f60;
  background-color: rgba(255, 255, 255, .2);
}
.flipInX {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;

  -webkit-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}
.bounce {
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-name: bounce;
          animation-name: bounce;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  40% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  40% {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
        -ms-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(.755, .05, .855, .06);
            transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    -webkit-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(.755, .05, .855, .06);
            transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(.755, .05, .855, .06);
            transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    -webkit-transform: translate3d(0, -12px, 0);
        -ms-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(.755, .05, .855, .06);
            transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    -webkit-transform: translate3d(0, -8px, 0);
        -ms-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
